

.active1{

    background-color: none;
    font-weight: bold;
    color: black;
}

a:hover {
    color:#13a9d1;
  
}

.esconder{
    list-style: none;
}
.lista{
    color: black; 
}

 /* .punto{
    display: none;
}  */
.banner{
    height: 300px;

    background-size: 100%;    
    -moz-background-size: 100%;  
      -o-background-size: 100%;   
     -webkit-background-size: 100%;  
       -khtml-background-size: 100%;
       position: relative;
       border-bottom: solid #13a9d1 6px; 
}

.contenedor{
    margin-top: 10px;
}
.panel-default{
    border:none;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    color: #13a9d1 !important;
    background-color:#fff !important;
}
.titulo{
    height: 53%;
    margin-top: 5%;
    margin-left: 50%;
    max-width: 50%;
    max-height: 50%;


}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    background-color:#fff !important;  
}

.description{
    position: absolute;
    margin-top: 65px;
}
.emisor{
    color: #13a9d1;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    
    margin-left: -21px;

}
.tex{
    color: #13a9d1;
    font-size: 10px;
    font-weight: bold;
    margin-top: 10px;
    
    margin-left: -21px;

}
.blue{
    color: #13a9d1;
    /* font-size: 24px; */
    font-weight: bold; 
}
.borde{
    border-left: solid;
}
.tex1{
    color: #13a9d1;
    font-size: 10px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 128px;
    margin-top: -31px;
    margin-bottom: 24px;

}

